@use "../scss/partials/variables" as *;

// css generico
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  color: $white;

  &:hover {
    color: $green;
  }
}

.green-button {
  border-radius: 25px;
  background-color: $green;
  border: 4px solid $green;
  transition: background-color 0.5s;

  &:hover {
    background-color: $white;
  }
}
