@use "../scss/partials/variables" as *;

// css generico
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  color: $white;
  display: inline-block;

  &:hover {
    color: $orange;
  }
}

.bg-red {
  background-color: rgba($color: red, $alpha: 0.3);
  border: 1px solid black;
}
